@use "../variables" as *;
@use "../mixins" as *;


.album {
    width: 100%;
    .content {
        width: 100%;

        .swiper {
            width: 100%;
            aspect-ratio: 500 / 752;
            margin: 10px auto;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swiper-button-next,
            .swiper-button-prev {
                color: white;
            }

            .swiper-pagination-bullet-active {
                background: white;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .swiper {
                .swiper-button-next:after, 
                .swiper-button-prev:after {
                    font-size: calc((44 / 500) * 100vw);
                }
            }
        }
    }
}

