@use "../variables" as *;
@use "../mixins" as *;

.invitation {
    .content {
        font-family: $gothamLight-font;
        width: 100%;
        font-weight: 300;
        .text-box {
            padding: 20% 10% 20%;
            text-align: left;
            // letter-spacing: 1px;    
            line-height: 1.3;
            background: url('../../assets/images/flowers-bg-1.png') no-repeat 80% 20%/ 80%;

            .initials {
                img {
                    width: 94px;
                    height: auto;
                }
            }

            .family-info {
                margin-top: 5%;
                p {
                    font-size: 11px;
                }
                p.en  {
                    margin-top: 4%;
                }
            }

            .invitation-text {
                margin-top: 8%;
                p {
                    font-size: 11px;
                    span {
                        font-family: $gothamBold-font;
                        font-weight: bold;
                    }
                }
                p.en {
                    margin-top: 4%;
                    margin-bottom: 15%;
                }
            }
            .couple-info {
                text-transform: uppercase;
                margin-top: 20%;
                h2 {
                    font-family: $selvia-font;
                    font-size: 30px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    color: $primary-color;
                }
                p.role {
                    font-size: 11px;
                }

                p.divider {
                    margin-bottom: 10%;
                }
            }
        }

        .image-box {
            width: 100%;
            aspect-ratio: 500 / 812;
            background: linear-gradient(to bottom, #e8e6d9ff, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
                url('https://yenstudio.info.vn/tien-anh/DSCF7803.webp') no-repeat 48% 100% / cover;

            h2 {
                font-family: $blushing-rose-font;
                font-size: 56px;
                font-weight: 100;
                margin-top: 5%;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .text-box {
                // letter-spacing: calc((1 / 500) * 100vw);  

                .initials {
                    img {
                        width: calc((94 / 500) * 100vw);
                    }
                    // h2 {
                    //     font-size: calc((70 / 500) * 100vw);  
                    //     span {
                    //         font-size: calc((30 / 500) * 100vw);  
                    //     }
                    // }
                }

                .family-info {
                    p {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
    
                .invitation-text {
                    p {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
    
                .couple-info {
                    h2 {
                        font-size: calc((30 / 500) * 100vw);  
                        letter-spacing: calc((2 / 500) * 100vw);  
                    }
                    p.role {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
            }

            .image-box {
                h2 {
                    font-size: calc((56 / 500) * 100vw);
                }
            }
        }
    }
}