@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size-base;
    @include flex-center;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    // overflow-x: hidden;
    box-shadow: $shadow-default;
    background-color: $bg-color;
}

/* music */
.player {
    position: fixed;
    bottom: 10px;
    right: 1%;
    max-width: 55px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 9999;
}

.player #iconSvg {
    width: 100%;
    height: 100%;
    fill: var(--text-title-color);
}

.spin {
    animation: spin 4s linear infinite;
}

.music-label {
    position: fixed;
    bottom: 21px;
    right: 4.5%;
    width: 140px;
    aspect-ratio: 140 / 36;
    background-color: $primary-color;
    z-index: 999;
    font-family: $blushing-rose-font; 
    font-size: 13px;
    color: white;
    display: flex;
    text-align: right;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5% 2% 1%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid white;
}

/* Định nghĩa hoạt ảnh xoay */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    body {
        font-size: calc(($font-size-base / 500px) * 100vw);
    }

    .player {
        max-width: calc((55 / 500) * 100vw);
        min-width: 40px;
    }

    .music-label {
        width: calc((140 / 500) * 100vw);
        font-size: calc((13 / 500) * 100vw);
    }
}